.navbar a{
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-weight: 700;
    font-size: 21px;
}
.Nav-title{
    color: ghostwhite !important;
    font-weight: 700 !important;
    font-size: 30px !important;
}
.input{
    background: transparent;
    border: white;
}